# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# AWS Credentials & Keys
*.pem
*.key
aws/
**/aws/credentials
**/.aws/credentials

# Terraform sensitive files
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
